<div class="flex-container">
  <div class="card-access">
    <mat-card>
      <div>
        <form (ngSubmit)="submit()" [formGroup]="updatePassForm">
          <mat-form-field class="item-full-width">
            <input matInput type="password" placeholder="Current Password" formControlName="oldPassword">
            <mat-error *ngIf="updatePassForm.get('oldPassword').invalid">
                {{getErrorMessage(updatePassForm.get('oldPassword'))}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="item-full-width" formGroupName="passwords">
            <input matInput type="password" placeholder="New Password" formControlName="newPassword">
            <mat-error *ngIf="updatePassForm.controls['passwords'].get('newPassword').invalid">
              {{getErrorMessage(updatePassForm.controls['passwords'].get('newPassword'))}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="item-full-width" formGroupName="passwords">
            <input matInput type="password" placeholder="Repeat New Password" formControlName="repeatPassword">
          </mat-form-field>
          <div class="itemsb">
            <button mat-raised-button color="primary" [disabled]="!updatePassForm.valid">Save</button>      
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>