<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Form data">
        <!-- Form data init-->
        <div class="container">
          <form class="example-form" (ngSubmit)="updateData()" [formGroup]="servicesAvailableForms">


            <div class="toggle-container">
              <div>
                <mat-slide-toggle formControlName="wifi">Wifi</mat-slide-toggle>
              </div>
            </div>

            <div class="toggle-container">
              <mat-form-field style="width: 100%; padding-left: 10px">
                <mat-select class="tag-input" placeholder="Public Private wifi" formControlName="public_private_wifi">
                  <mat-option *ngFor="let food of publicPrivatewifi" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="toggle-container">
              <div>
                <mat-slide-toggle formControlName="phone">Phone</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle formControlName="microwave">Microwave</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle formControlName="fiber">Fiber</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle formControlName="satellite">Satellite</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle formControlName="cable">Cable</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle formControlName="water">Water</mat-slide-toggle>
              </div>
            </div>

            <div class="actions-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="!servicesAvailableForms.valid">
                Save
              </button>
            </div>
          </form>
        </div>
        <!-- Form data Finished-->
      </mat-tab>
      <mat-tab label="Grid list">
        <app-service-available-grid [isEditable]="true" *ngIf="idServiceAvailable !== undefined && idServiceAvailable !== null" [idServiceAvailable]="idServiceAvailable"></app-service-available-grid>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>