<div class="container">
  <mat-dialog-content>
    <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="updateGridForm">

      <div class="select">
        <mat-select class="align-select" placeholder="Cellular ServiceProvider" (change)="otherPro($event)" class="full-width" formControlName="cellularServiceProvider">
          <mat-option class="align-select" *ngFor="let food of cellularServiceProviderType" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </div>

      <mat-form-field class="full-width" *ngIf="other">
        <input matInput placeholder="Enter text" formControlName="other">
      </mat-form-field>

      <div class="select">
        <mat-select class="align-select" placeholder="Technology Type" class="full-width" formControlName="technologyType">
          <mat-option class="align-select" *ngFor="let food of technologyTypes" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </div>

      <div class="actions-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!updateGridForm.valid">
          Save
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>