.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.card-header {
  font-size: 30px;
}

div.download {
  display: flex;
  padding: .5em;
  flex-direction: column;
}

i {
  align-self: flex-end;
  font-size: 2.5em;
  color: #2196f3;
}

i:hover {
  cursor: pointer;
  color: #1976d2;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}