<div class="sidenav-container">
  <div class="header-sidenav">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <div>
          <mat-card-title>{{fullName}}</mat-card-title>
          <mat-card-subtitle>{{emailUserName}}</mat-card-subtitle>
          <mat-card-subtitle>
            <span class="user-type">{{userType}}</span>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="menu-sidenav">
    <div *ngFor="let item of menu">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <span class="align-menu-item">{{item.name}}</span>
          </mat-expansion-panel-header>
          <div *ngFor="let childItem of item.child" class="menu-button">
            <div class="align-menu-item" (click)="getNavigate(childItem.url)">
              <mat-icon class="align-menu-item">{{childItem.icon}}</mat-icon>
              <span class="align-menu-item">{{childItem.name}}</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>