<div class="full-container">
  <div class="container-txt">
    <div class="card-msg" *ngFor="let v of msg">
      <mat-card>
        <div *ngIf="v.flag === 'usuario'" class="user">
          <span class="msg">{{v.message}}</span>
          <span class="name">{{v.quien}}</span>
        </div>
        <div *ngIf="v.flag === 'empresa'" >
          <span class="msg">{{v.message}}</span>
          <span class="name">{{v.quien}}</span>
        </div>
      </mat-card>
    </div>
  </div>
  <form class="send-text" (ngSubmit)="onSubmit()" [formGroup]="messageForm">
    <div class="text-emmit">
      <mat-form-field (ngSubmit)="onSubmit()" [formGroup]="messageForm" class="example-full-width">
        <input matInput placeholder="Ingrese el texto" formControlName="msg">
      </mat-form-field>
    </div>
    <div class="send-button">
      <button type="submit" [disabled]="!messageForm.valid" mat-raised-button color="primary">
        Enviar
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>