<mat-card class="card-container">
  <mat-card-content>
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no.">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cellularServiceProvider">
          <mat-header-cell *matHeaderCellDef> Cellular service provider </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descriptionc}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="technologyType">
          <mat-header-cell *matHeaderCellDef> Technology type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="edit" *ngIf="isEditable">
          <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openDialog(element)">
              <mat-icon class="align-menu-item menu-item-icon">mode_edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="delete" *ngIf="isEditable">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="deleteElement(element)">
                <mat-icon class="align-menu-item menu-item-icon">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
    <div *ngIf="isEditable" class="button-add">
      <button color="primary" (click)="addElement()" mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">playlist_add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>