<div>
  <button mat-button (click)="returnPague()" color="primary">Return</button>
</div>
<mat-tab-group>
  <mat-tab label="Survey information">
    <app-osurvey-information [idEvent]="idEvent"></app-osurvey-information>
  </mat-tab>
  <mat-tab label="Site location information">
    <app-asite-location-information [idEvent]="idEvent"></app-asite-location-information>
  </mat-tab>
  <mat-tab label="Structure information">
    <app-structure-information [idEvent]="idEvent"></app-structure-information>
  </mat-tab>
  <mat-tab label="Compound">
    <app-compound [idEvent]="idEvent"></app-compound>
  </mat-tab>
  <mat-tab label="Services availables">
    <app-services-availables [idEvent]="idEvent"></app-services-availables>
  </mat-tab>
  <mat-tab label="Pictures log">
    <app-picture-log [idEvent]="idEvent" [isEditable]="true"></app-picture-log>
  </mat-tab>
</mat-tab-group>