<p-fileUpload name="images" withCredentials="true" invalidFileTypeMessageSummary="Invalid file type" invalidFileTypeMessageDetail="Admitted types .png,.jpg,.jpeg"
  invalidFileSizeMessageSummary="Invalid file size" invalidFileSizeMessageDetail="Maximum size 2MB" chooseLabel="Upload image"
  [url]="URL_UPLOAD" (onUpload)="onUpload($event)" auto="auto" maxFileSize="2000000" accept=".png,.jpg,.jpeg,.PNG,.JPG,.JPEG">
  <ng-template pTemplate="content">
    <div class="mensajeUpload">
      <div>
        Release your image here
      </div>
      <div class="upload-icon">
        <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
      </div>
    </div>
  </ng-template>
</p-fileUpload>