<mat-card>
  <mat-card-content>
    <div class="container" *ngIf="data">
      <div>
        <span class="negrilla">Surveyor: </span> {{data.surveyor}}
      </div>
      <div>
        <span class="negrilla">Date create: </span> {{data.date_create}}
      </div>
      <div>
        <span class="negrilla">Weather conditions: </span> {{data.watherConditions}}
      </div>
      <div>
        <span class="negrilla">Temperature: </span> {{data.temperature}}
      </div>
      <div>
        <span class="negrilla">Directions to site: </span> {{data.directionToSite}}
      </div>       
    </div>
  </mat-card-content>
</mat-card>