<mat-card>
    <mat-card-content>
      <div class="container">

        <form class="example-form" (ngSubmit)="updateData()" [formGroup]="oSurveyInformationForm">

          <mat-form-field class="input">
            <input matInput placeholder="Surveyor" formControlName="surveyor">
          </mat-form-field>

          <div class="conte">
            <mat-form-field class="input">
              <input matInput placeholder="Identifier" formControlName="identifier">
            </mat-form-field>

            <mat-form-field class="input">
              <input matInput placeholder="Site name" formControlName="site_name">
            </mat-form-field>
          </div>

          <div class="conte">
            <mat-form-field class="input">
              <input matInput placeholder="Date create" formControlName="date_create">
            </mat-form-field>

            <mat-form-field class="input">
              <input matInput placeholder="Weather conditions" formControlName="weather_conditions">
            </mat-form-field>
          </div>

          <div class="conte">
            <mat-form-field class="input">
              <input matInput placeholder="Temperature" formControlName="temperature">
            </mat-form-field>

            <mat-form-field class="input">
              <input matInput placeholder="Directions to site" formControlName="directions_to_site">
            </mat-form-field>
          </div>

        </form>

      </div>
    </mat-card-content>
  </mat-card>